body { color:#FFFFFF; }

a { text-decoration:none; border-style:none; }
a:link { color:#AD68C0; }
a:visited { color:#AD68C0; }
a:active { color:#AD68C0;}
a:hover { color:#DADC3A; }
a:focus { color:#DADC3A; }

h1 { color:#7D3086; }
h2 { color:#704490; }
h3 { color:#66589B; }
h4 { color:#FFFFFF; font-style: italic; }

.larva { color:#305ACD; }
.nodet { color:#959595; }
.rl { color:#F04A20; }
.rln { color:#5CA23C; }
.totalrow { color:#A628EF;}
